h1{
    color: rgba(23, 22, 22, 0.8);
}
h1:hover{
    transition:0.2s ease-in-out;
    color: rgb(246, 236, 236,56%);
}
.cont {
    width: 100%;
    max-width: 200px;
    text-align: center;
    height: 300px;
    background-color: skyblue;
    margin: 10px;
    border-radius: 10px;
    /* border: 2px solid #333; */
    margin-bottom: 100px;
    /* margin-left: 10px; */
    margin-right: 80px;
    border: solid 2px red;
    box-sizing: border-box;
}